{% extends "layout.html" %}
{% set active_page = "about" %}
{% block header_title %}About{% endblock %}


{% block body %}

<div class="container info-container">
<div class="section">

  <div class="row">
    <div class="col s12 center">
      <h3><i class="mdi-content-send brown-text"></i></h3>
      <div class="section">
        <h4>About Us</h4>
        <p class="light">
          The 8th SDYC will be held this year from 18th – 20th August at the NUS High School of Math and Science. Organised by NUS High School, SDYC is a thematic Model United Nations (MUN) conference that aims to raise awareness of social, economic, political and environmental issues revolving around the central theme of sustainable development, in both local and global contexts amongst youths. Over the course of three days, your students will assume the role of delegates representing stakeholders at the United Nations where they will raise their concerns, share their insights, and propose solutions to real-world issues.
          <br /><br />
          SDYC hopes that students will take away with them a more well-rounded understanding of the issues pertinent to sustainable development. SDYC has been constantly reaching out to more schools around Singapore, enabling participants to discuss issues of sustainable development with peers from different backgrounds and cultures. We believe that this interaction among delegates will be a very meaningful learning experience for everyone. A social dinner and dance on the second evening also serves as a good opportunity for delegates to take a break from the intense discussions and have fun with one another.
          <br /><br />
          The convention will culminate in each committee reaching a resolution on the various pertinent issues of sustainability after three days of gruelling discussions, charting a course of action for all stakeholders to abide by for a better and sustainable future.
          <br /><br />
          The convention will culminate in each committee reaching a resolution on the various pertinent issues of sustainability after three days of gruelling discussions, charting a course of action for all stakeholders to abide by for a better and sustainable future. This year, we are pleased to introduce a grand total of 6 exciting committees, featuring 4 General Assemblies and 4 Specialized Agencies – one of which will be a double delegation committee:
          <br /><br />
             i. <span class="bold">General Assemblies</span> – This year, SDYC will have 3 General Assemblies, where broad and highly relevant issues are discussed. The World Health Organization (WHO) will be discussing on the increasingly pressing issue of Antibiotic Resistance and its implications on healthcare in the future. The United Nations Development Program (UNDP) will focus on the preservation of biodiversity in development, including the trade-offs between rapid growth and ecological preservation as well as the issues present in the construction of renewable energy infrastructure. The Human Rights Council (HRC) will tackle the issue of Child Exploitation in both the developing and developed world contexts, seeking solutions to child slavery, child abuse and the like.
             <br /><br />
             ii. <span class="bold">Specialized Agencies</span> – SDYC also boasts 3 Specialized Agencies, where specific matters are brought up for discussion. The United Nations Security Council (UNSC), a double delegation committee, will discuss the peaceful transition of post-conflict Yemen and Libya following the secession of hostilities, such that the aforementioned states are able to move towards a more democratic model of governance. The Pacific Islands Forum (PIF) will deal with the sustainability of the Pacific Islands, taking into consideration climate change, political systems and economic concerns. Finally, SDYC's very own Historical Crisis Committee will challenge delegates to resolve World War 1 issues from a uniquely social and healthcare angle, specifically from the perspective of the Central Powers (Germany, Austria-Hungary, Bulgaria and the Ottoman Empire)
          <br /><br />
          With a mix of participants of varied backgrounds and a broad spectrum of topics, SDYC promises to endow its delegates a renewed appreciation for sustainability.
        </p>
      </div>
    </div>
  </div>

</div>
</div>

{% endblock %}
