{% extends "layout.html" %}
{% set active_page = "committees" %}
{% block header_title %}Committees{% endblock %}


{% block body %}

<div class="container info-container">
<div class="section">

  <div class="row">
    <div class="col s12 center">
      <h3><i class="mdi-content-send brown-text"></i></h3>
      <h4>Committees</h4>

      <br />
      <h5>Pacific Islands Forum</h5>
      <h6>Future of the pacific islands</h6>
      <p class="light">
          In the Pacific Islands Forum, delegates will embark on a rare and all-encompassing discussion on the future of some of the smallest states in the world. Delegates will have to create a Pacific Plan to chart the future of many of these states with consideration to the problems these states will face in the future, including but not limited to economic dependence on other states, rising sea levels as a result of climate change and social tensions. The committee is unique in forcing delegates to think in the perspective of a country much unable to change the global status quo or fix problems easily – the Pacific Islands Forum, after all, does not have the power to stop global warming in the world. Join the Forum to learn more about the future of small Pacific States and explore multiple aspects of national development.
          <br />
          <br />
          <i>This is a double delegation committee</i>
      </p>

      <br />
      <h5>United Nations Security Council</h5>
      <h6>Stabilizing Libya and Yemen post-Arab Spring</h6>
      <p class=" light">
          The Arab Spring was a series of events that greatly revolutionized both Middle East and World Politics back when it happened. Its effects continue to reverberate around the region today in the form of civil conflict and permanent political change. While the United Nations Security Council has discussed the situation of Syria at great length already, less attention has been paid to states on the edge of the Council’s mandate to maintain international peace and security, namely Libya and Yemen. Libya and Yemen both experience civil conflict, coupled with other factors making societal recovery complicated. Delegates in this committee will have to overcome geopolitical differences and the veto to productively help end the conflicts in Libya and Yemen and let those regions succeed.
          <br />
          <br />
          <i>This is a double delegation committee</i>
      </p>

      <br />
      <h5>United Nations Development Programme</h5>
      <h6>Conserving Biodiversity in Development</h6>
      <p class=" light">
          One of the unfortunate consequences of otherwise positive economic development in developing societies is the loss of biodiversity in those societies. As the demands of industry and society increases with the growth of society, this leads to the pollution of waterways, deforestation, overfishing and other effects that lead to the loss of flora and fauna in those societies. Conserving this biodiversity is vital to protect the makeup of the world and is a foremost priority for states. However, several states do not wish to restrict their development in order to conserve biodiversity. Delegates will have to collaborate to strike that fine balance in order to enjoy both goods.
      </p>

      <br />
      <h5>Human Rights Council</h5>
      <h6>Child Exploitation</h6>
      <p class=" light">
         Due to their physical, social and emotional vulnerability, millions of children around the world are routinely exploited in varying ways. These ways include child slavery, the sexual exploitation of children, the usage of children for begging and the employment of child soldiers. These children are often unable to seek legal recourse due to a lack of guardianship and understanding of the legal system with their lack of education. The exploitation of these children robs them of their childhood and a richer, more educated life. Delegates have to work together on this issue to ensure that despite the difficulties of the issue, the amount of child exploitation internationally can be reduced.
      </p>

      <br />
      <h5>World Health Organization </h5>
      <h6>Antibiotic Resistance</h6>
      <p class=" light">
         Antibiotics have been a lifesaver (literally) for millions, possibly even billions of humans since their accidental invention by Alexander Fleming. They have been a go-to cure for multiple common ailments, letting doctors act against bacterial illnesses easily. However, the overuse of antibiotics for both humans & animals, and the failure to follow operational guidelines in the usage of antibiotics has led to antibiotic resistance, the failure of antibiotics to act against illnesses. This is rapidly becoming a much more urgent issue that the world has to work together to solve, for delegates hold responsibility for maintaining the foundation of present global health in this council.
      </p>

      <br />
      <h5>Historical Special Committee</h5>
      <h6>World War I</h6>
      <p class=" light">
         Delegates will explore the various events of World War I in a multilateral and multifaceted manner through an interactive and special exploration of the war. More details will be released soon.
         <br />
         <br />
         <i>This is a special committee</i>
      </p>

    </div>
  </div>

</div>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/committees.js') }}"></script>
{% endblock %}
