{% extends "layout.html" %}
{% set active_page = "contact" %}
{% block header_title %}Contact{% endblock %}


{% block body %}

<div class="container info-container">
<div class="section">

  <div class="row">
    <div class="col s12 center">
      <h3><i class="mdi-content-send brown-text"></i></h3>
      <h4>Contact</h4>
      <p>
        <b>Phone:</b> 65161709 <br>
        <b>Email:</b> sdyc@nushigh.edu.sg <br>
        <b>Facebook:</b> <a href="https://www.facebook.com/NUSHSDYC/">Sustainable Development Youth Convention</a><br />
        <b>Address:</b> <br />
        NUS High School of Math and Science <br />
        20 Clementi Avenue 1 <br />
        Singapore 129957
      </p>
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCuIPFf4l0lZFnTC3i38iCePqrV0M9LM4w&q=place_id:ChIJc60HhvQa2jERroz_1Z_TgtE" allowfullscreen>
      </iframe>
    </div>
  </div>

</div>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/committees.js') }}"></script>
{% endblock %}
