{% extends "layout.html" %}
{% set active_page = "contact" %}
{% block header_title %}Contact{% endblock %}


{% block body %}

<div class="container info-container">
<div class="section">

  <div class="row">
    <div class="col s12 center">
      <h3><i class="mdi-content-send brown-text"></i></h3>
      <h4>Contact</h4>
      <p>
      Email: sdyc@nushigh.edu.sg <br>
      Facebook: <a href="https://www.facebook.com/NUSHSDYC/">Sustainable Development Youth Convention</a>
      </p>
    </div>
  </div>

</div>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/committees.js') }}"></script>
{% endblock %}
