<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{% block header_title %}{% endblock %}</title>

  <!-- CSS  -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"  media="screen,projection"/>
  {% block head %}{% endblock %}
</head>
<body>

  {% block header %}{% endblock %}

  <div id="top-nav" class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">
        <img src="{{ url_for('static', filename='img/SDYC_Logo_2017_Transparent.png') }}" height="64px" />
      </a>
      {% set navigation_bar = [
          ('/about.html', 'about', 'About'),
          ('/committees.html', 'committees', 'Committees'),
          ('/documents.html', 'documents', 'Documents'),
          ('/registration.html', 'registration', 'Registration'),
          ('/contact.html', 'contact', 'Contact')
      ] -%}
      {% set active_page = active_page|default('index') -%}
      <ul class="right hide-on-med-and-down">
        {% for href, id, caption in navigation_bar %}
          <li{% if id == active_page %} class="active"{% endif %}>
            <a href="{{ href|e }}">{{ caption|e }}</a>
          </li>
        {% endfor %}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        {% for href, id, caption in navigation_bar %}
          <li{% if id == active_page %} class="active"{% endif %}>
            <a href="{{ href|e }}">{{ caption|e }}</a>
          </li>
        {% endfor %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </div>

  {% block body %}{% endblock %}

  <footer class="page-footer brown">
    <div class="container">
      <div class="row">
        <div class="col l3 s12">
          <h5 class="white-text">Conference</h5>
          <ul>
            <li><a class="white-text" href="committees.html">Committees</a></li>
            <li><a class="white-text" href="documents.html">Documents</a></li>
            <li><a class="white-text" href="registration.html">Registration</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">About</h5>
          <ul>
          <li><a class="white-text" href="https://www.facebook.com/NUSHSDYC/">Facebook</a></li>
            <li><a class="white-text" href="about.html">About Us</a></li>
            <li><a class="white-text" href="contact.html">Contact</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.4.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>
  {% block script %}{% endblock %}

  </body>
</html>
